<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>protoss_unit_archon.jpg</string>
		<key>name</key>
		<string>Archon</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_carrier.jpg</string>
		<key>name</key>
		<string>Carrier</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_colossus.jpg</string>
		<key>name</key>
		<string>Colossus</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_dark-templar.jpg</string>
		<key>name</key>
		<string>Dark Templar</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_high-templar.jpg</string>
		<key>name</key>
		<string>High Templar</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_immortal.jpg</string>
		<key>name</key>
		<string>Immortal</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_mothership.jpg</string>
		<key>name</key>
		<string>Mothership</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_observer.jpg</string>
		<key>name</key>
		<string>Observer</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_phoenix.jpg</string>
		<key>name</key>
		<string>Phoenix</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_probe.jpg</string>
		<key>name</key>
		<string>Probe</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_sentry.jpg</string>
		<key>name</key>
		<string>Sentry</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_stalker.jpg</string>
		<key>name</key>
		<string>Stalker</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_void-ray.jpg</string>
		<key>name</key>
		<string>Void Ray</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_warp-prism.jpg</string>
		<key>name</key>
		<string>Warp Prism</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_unit_zealot.jpg</string>
		<key>name</key>
		<string>Zealot</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_assimilator.jpg</string>
		<key>name</key>
		<string>Assimilator</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_cybernetics-core.jpg</string>
		<key>name</key>
		<string>Cybernetics Core</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_dark-shrine.jpg</string>
		<key>name</key>
		<string>Dark Shrine</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_fleet-beacon.jpg</string>
		<key>name</key>
		<string>Fleet Beacon</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_forge.jpg</string>
		<key>name</key>
		<string>Forge</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_gateway.jpg</string>
		<key>name</key>
		<string>Gateway</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_nexus.jpg</string>
		<key>name</key>
		<string>Nexus</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_photon-cannon.jpg</string>
		<key>name</key>
		<string>Photon Cannon</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_pylon.jpg</string>
		<key>name</key>
		<string>Pylon</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_robotics-facility.jpg</string>
		<key>name</key>
		<string>Robotics Facility</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_robotics-bay.jpg</string>
		<key>name</key>
		<string>Robotics Bay</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_stargate.jpg</string>
		<key>name</key>
		<string>Stargate</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_templar-archives.jpg</string>
		<key>name</key>
		<string>Templar Archives</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_twilight-council.jpg</string>
		<key>name</key>
		<string>Twilight Council</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_structure_warp-gate.jpg</string>
		<key>name</key>
		<string>Warp Gate</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_units_oracle.jpg</string>
		<key>name</key>
		<string>Oracle</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_units_tempest.jpg</string>
		<key>name</key>
		<string>Tempest</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_units_mothership-core.jpg</string>
		<key>name</key>
		<string>Mothership Core</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_units_adept.jpg</string>
		<key>name</key>
		<string>Adept</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>protoss_units_disruptor.jpg</string>
		<key>name</key>
		<string>Disruptor</string>
		<key>race</key>
		<string>Protoss</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_banshee.jpg</string>
		<key>name</key>
		<string>Banshee</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_battlecruiser.jpg</string>
		<key>name</key>
		<string>Battlecruiser</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_ghost.jpg</string>
		<key>name</key>
		<string>Ghost</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_hellion.jpg</string>
		<key>name</key>
		<string>Hellion</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_marauder.jpg</string>
		<key>name</key>
		<string>Marauder</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_marine.jpg</string>
		<key>name</key>
		<string>Marine</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_medivac-dropship.jpg</string>
		<key>name</key>
		<string>Medivac Dropship</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_mule.jpg</string>
		<key>name</key>
		<string>MULE</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_raven.jpg</string>
		<key>name</key>
		<string>Raven</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_reaper.jpg</string>
		<key>name</key>
		<string>Reaper</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_scv.jpg</string>
		<key>name</key>
		<string>SCV</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_siege-tank.jpg</string>
		<key>name</key>
		<string>Siege Tank</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_thor.jpg</string>
		<key>name</key>
		<string>Thor</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_viking.jpg</string>
		<key>name</key>
		<string>Viking</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_auto-turret.jpg</string>
		<key>name</key>
		<string>Auto-Turret</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_point-defense-drone.jpg</string>
		<key>name</key>
		<string>Point Defense Drone</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_mule.jpg</string>
		<key>name</key>
		<string>MULE</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_armory.jpg</string>
		<key>name</key>
		<string>Armory</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_barracks.jpg</string>
		<key>name</key>
		<string>Barracks</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_bunker.jpg</string>
		<key>name</key>
		<string>Bunker</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_command-center.jpg</string>
		<key>name</key>
		<string>Command Center</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_orbital-command.jpg</string>
		<key>name</key>
		<string>Orbital Command</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_planetary-fortress.jpg</string>
		<key>name</key>
		<string>Planetary Fortress</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_engineering-bay.jpg</string>
		<key>name</key>
		<string>Engineering Bay</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_factory.jpg</string>
		<key>name</key>
		<string>Factory</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_fusion-core.jpg</string>
		<key>name</key>
		<string>Fusion Core</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_ghost-academy.jpg</string>
		<key>name</key>
		<string>Ghost Academy</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_missile-turret.jpg</string>
		<key>name</key>
		<string>Missile turret</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_refinery.jpg</string>
		<key>name</key>
		<string>Refinery</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_sensor-tower.jpg</string>
		<key>name</key>
		<string>Sensor Tower</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_starport.jpg</string>
		<key>name</key>
		<string>Starport</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_structure_supply-depot.jpg</string>
		<key>name</key>
		<string>Supply Depot</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_reactor.jpg</string>
		<key>name</key>
		<string>Reactor</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_unit_tech-lab.jpg</string>
		<key>name</key>
		<string>Tech Lab</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_units_hellbat.jpg</string>
		<key>name</key>
		<string>Hellbat</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_units_widow-mine.jpg</string>
		<key>name</key>
		<string>Widow Mine</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_units_liberator.jpg</string>
		<key>name</key>
		<string>Liberator</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>terran_units_cyclone.jpg</string>
		<key>name</key>
		<string>Cyclone</string>
		<key>race</key>
		<string>Terran</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_corruptor.jpg</string>
		<key>name</key>
		<string>Corruptor</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_brood-lord.jpg</string>
		<key>name</key>
		<string>Brood lord</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_drone.jpg</string>
		<key>name</key>
		<string>Drone</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_hydralisk.jpg</string>
		<key>name</key>
		<string>Hydralisk</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_infestor.jpg</string>
		<key>name</key>
		<string>Infestor</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_larva.jpg</string>
		<key>name</key>
		<string>Larva</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_mutalisk.jpg</string>
		<key>name</key>
		<string>Mutalisk</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_overlord.jpg</string>
		<key>name</key>
		<string>Overlord</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_overseer.jpg</string>
		<key>name</key>
		<string>Overseer</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_queen.jpg</string>
		<key>name</key>
		<string>Queen</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_roach.jpg</string>
		<key>name</key>
		<string>Roach</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_ultralisk.jpg</string>
		<key>name</key>
		<string>Ultralisk</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_zergling.jpg</string>
		<key>name</key>
		<string>Zergling</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_baneling.jpg</string>
		<key>name</key>
		<string>Baneling</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_broodling.jpg</string>
		<key>name</key>
		<string>Broodling</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_changeling.jpg</string>
		<key>name</key>
		<string>Changeling</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_unit_infested-terran.jpg</string>
		<key>name</key>
		<string>Infested terran</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Unit</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_baneling-nest.jpg</string>
		<key>name</key>
		<string>Baneling Nest</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_creep-tumor.jpg</string>
		<key>name</key>
		<string>Creep Tumor</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_evolution-chamber.jpg</string>
		<key>name</key>
		<string>Evolution Chamber</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_extractor.jpg</string>
		<key>name</key>
		<string>Extractor</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_hatchery.jpg</string>
		<key>name</key>
		<string>Hatchery</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_lair.jpg</string>
		<key>name</key>
		<string>Lair</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_hive.jpg</string>
		<key>name</key>
		<string>Hive</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_hydralisk-den.jpg</string>
		<key>name</key>
		<string>Hydralisk Den</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_infestation-pit.jpg</string>
		<key>name</key>
		<string>Infestation Pit</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_nydus-network.jpg</string>
		<key>name</key>
		<string>Nydus Network</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_nydus-worm.jpg</string>
		<key>name</key>
		<string>Nydus Worm</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_roach-warren.jpg</string>
		<key>name</key>
		<string>Roach Warren</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_spawning-pool.jpg</string>
		<key>name</key>
		<string>Spawning Pool</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_spine-crawler.jpg</string>
		<key>name</key>
		<string>Spine Crawler</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_spire.jpg</string>
		<key>name</key>
		<string>Spire</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_greater-spire.jpg</string>
		<key>name</key>
		<string>Greater Spire</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_spore-crawler.jpg</string>
		<key>name</key>
		<string>Spore Crawler</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_structure_ultralisk-cavern.jpg</string>
		<key>name</key>
		<string>Ultralisk Cavern</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Structure</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_units_swarm-host.jpg</string>
		<key>name</key>
		<string>Swarm Host</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_units_viper.jpg</string>
		<key>name</key>
		<string>Viper</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_units_lurker.jpg</string>
		<key>name</key>
		<string>Lurker</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Units</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zerg_units_ravager.jpg</string>
		<key>name</key>
		<string>Ravager</string>
		<key>race</key>
		<string>Zerg</string>
		<key>type</key>
		<string>Units</string>
	</dict>
</array>
</plist>
