.DS_Store
*.swp
*~
*~.nib
*.orig
build/
deliapp.build
Debug-iphonesimulator

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
project.xcworkspace
.idea
pkg
build.output
test-reports
kif-screenshots
kif.error
tags
